                    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
                    * {
                        margin: 0;
                        padding: 0;
                        text-decoration: none;
                        box-sizing: border-box;
                        list-style: none;
                        font-family: sans-serif;
                    }
                    
                    body {
                        background: #f7f7f7;
                        color: #545454;
                    }
                    /***************sm-nav--navebar******************/
                    
                    .sm-nav {
                        background-color: #2b2f34;
                        color: white;
                        width: 100%;
                        position: fixed;
                        top: 0;
                        z-index: 1000;
                    }
                    
                    .sm-nav .icons {
                        margin-left: 70%;
                        padding: 6px 0;
                    }
                    
                    .sm-nav i {
                        color: white;
                        margin-left: 30px;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        text-align: center;
                        transition: 0.5s;
                    }
                    
                    .navbar {
                        width: 100%;
                        height: 70px;
                        background: #373b44;
                        position: fixed;
                        padding: 0 25px;
                        top: 40px;
                        z-index: 1000;
                    }
                    
                    .navbar .inner_navbar {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 100%;
                    }
                    
                    .navbar .logo a {
                        font-weight: 700;
                        font-size: 24px;
                        letter-spacing: 3px;
                        color: #fff;
                    }
                    
                    .navbar .logo img {
                        width: 90px;
                        height: 50px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    
                    .navbar .logo a span {
                        color: #dbdcdb;
                    }
                    
                    .navbar .menu ul {
                        display: flex;
                    }
                    
                    .navbar .menu ul li a {
                        width: 120px;
                        margin-right: 5px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        display: inline-block;
                        text-align: center;
                        padding: 30px 5px;
                        border-radius: 0px;
                        color: #fff;
                        font-size: 12px;
                        letter-spacing: 0.5px;
                        transition: all 0.2s ease;
                        font-size: 14px;
                        font-weight: 5px;
                    }
                    
                    .navbar .menu ul li:last-child a {
                        margin-right: 20px;
                    }
                    
                    .navbar .menu ul li a:hover,
                    .navbar .menu ul li a.active {
                        background: #ff7361;
                    }
                    /***************sm-nav--navebar******************/
                    /************************Home*******************/
                    
                    .cott {
                        margin-top: 71px;
                        background: #23c265;
                        height: auto;
                        scroll-margin: 0;
                        padding: 25px;
                        padding-top: 25px;
                    }
                    
                    .item1 {
                        background: #fff;
                        padding: 10px;
                        border-radius: 20px;
                        width: fit-content;
                        min-width: 30%;
                        float: left right;
                        margin-left: 30px;
                    }
                    
                    .item2 {
                        background: #fff;
                        padding: 10px;
                        border-radius: 20px;
                        width: fit-content;
                        min-width: 30%;
                        float: left right;
                        margin-left: 30px;
                    }
                    
                    .email {
                        background: #fff;
                        padding: 10px;
                        border-radius: 20px;
                        min-width: 30%;
                        float: left right;
                        margin-left: 30px;
                        width: auto;
                        border-width: 0;
                        font-size: 14px;
                        font-weight: 5px;
                    }
                    
                    .btn {
                        padding: 10px 30px;
                        border-radius: 25px;
                        width: fit-content;
                        margin-left: 30px;
                        border-width: 0;
                        background-color: #14ac71;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 5px;
                    }
                    
                    .vid {
                        margin-left: 70%;
                        margin-top: -15%;
                        border: 30px;
                    }
                    
                    .headline {
                        color: #fff;
                        margin-top: 70px;
                        margin-left: 12%;
                    }
                    
                    .title1 {
                        padding-top: 70px;
                        font-size: 40px;
                        text-align: left;
                        padding-bottom: 50px;
                    }
                    
                    .container {
                        background: #ff7361;
                        height: 600px;
                    }
                    
                    span.para {
                        color: #fff;
                        text-align: left;
                        font-size: 30px;
                    }
                    
                    .ba {
                        padding-top: 0;
                        padding-bottom: -20%;
                        background-color: #ff7361;
                        margin-top: 0;
                        margin-left: 45%;
                        height: 350px;
                        width: 650px;
                        margin-top: -300px;
                    }
                    
                    .btn_contactus {
                        padding-left: 10px;
                        padding-right: 10px;
                        background: #111;
                        text-align: center;
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 22px;
                        font-weight: 100;
                        margin-top: 70px;
                        cursor: pointer;
                    }
                    
                    .cards {
                        padding-top: 50px;
                        padding-bottom: 100px;
                        margin-left: 15%;
                        margin-right: 15%;
                    }
                    
                    .cardrow1 {
                        display: flex;
                        align-items: center;
                        margin-top: 2%;
                    }
                    
                    .cardrow2 {
                        display: flex;
                        align-items: center;
                        margin-top: 2%;
                    }
                    
                    .cards.p {
                        font-size: 20px;
                    }
                    
                    .card1 {
                        background-color: #fff;
                        padding: 25px;
                        display: flex;
                        justify-content: space-around;
                    }
                    
                    .card2 {
                        margin-left: 5%;
                        background-color: #fff;
                        padding: 25px;
                        display: flex;
                        justify-content: space-around;
                    }
                    
                    .card3 {
                        background-color: #fff;
                        padding: 25px;
                        display: flex;
                        justify-content: space-around;
                    }
                    
                    .card4 {
                        margin-left: 5%;
                        background-color: #fff;
                        padding: 25px;
                        display: flex;
                        justify-content: space-around;
                    }
                    /************************Home*******************/
                    /*******************Footer********************/
                    
                    footer {
                        height: 50px;
                        background: #373b44;
                        width: 100%;
                        bottom: 0;
                        text-align: center;
                        padding: 10px 0;
                        margin-top: 20px;
                    }
                    
                    .footer i {
                        color: #454545;
                        margin-left: 10px;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        background-color: #ffffff;
                    }
                    /*******************Footer********************/
                    
                    .icons {
                        font-size: 25px;
                    }
                    
                    .icons-headline {
                        display: flex;
                    }
                    
                    .head_p {
                        padding-left: 20px;
                    }
                    
                    .head_p h1 {
                        padding-bottom: 20px;
                    }
                    
                    .patch {
                        background: #14ac71;
                        width: 100%;
                        background-color: #ff7361;
                        height: 60px;
                        margin-top: 101px;
                    }
                    
                    .patch .container_patch {
                        line-height: 40px;
                        margin-left: 25px;
                        text-transform: uppercase;
                        font-size: 20pxx;
                        padding-top: 15px;
                    }
                    
                    .patch span:first-of-type {
                        color: #ffe398;
                    }
                    
                    .patch span:last-of-type {
                        color: white;
                    }
                    /***************Blog***************/
                    
                    .head1 {
                        background: #f3f3f3;
                        align-items: center;
                        text-align: center;
                        background-color: #efefef;
                        padding-top: 6px;
                        padding-bottom: 30px;
                    }
                    
                    .head1 h3 {
                        align-items: center;
                        font-size: 25px;
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }
                    
                    .head1 p {
                        align-items: center;
                        font-size: 16px;
                    }
                    
                    .head1.container1 {
                        width: 80%;
                        margin: 0 auto;
                    }
                    
                    .left-side li {
                        margin: 12px 40px;
                    }
                    
                    .left-side i {
                        margin-right: 10px;
                    }
                    
                    .blog-content {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 40px;
                        flex-wrap: wrap;
                        margin: 20 px 0 30px;
                        position: relative;
                    }
                    
                    .blog-content::after {
                        position: absolute;
                        height: 2px;
                        width: 67%;
                        left: 40px;
                        top: 76%;
                        background-color: #dfdede;
                        content: "";
                    }
                    
                    .blog-content .right-side {
                        width: 30%;
                    }
                    
                    .blog-content .middle-side {
                        width: 50%;
                    }
                    
                    .blog-content .middle-side a {
                        text-decoration: none;
                        background-color: #070707;
                        color: white;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 10px 8px;
                        border-radius: 2px;
                        margin-bottom: 30px;
                    }
                    
                    .blog-content .middle-side {
                        width: 50%;
                    }
                    
                    .blog-content .middle-side img {
                        width: 100%;
                        height: 300px;
                    }
                    
                    .blog-content .middle-side h3 {
                        color: #5a534e;
                        margin-bottom: 10px;
                        margin-top: 20px;
                    }
                    
                    .blog-content .middle-side p {
                        margin-bottom: 30px;
                    }
                    
                    .blog-content .middle-side h3:last-of-type {
                        margin-top: 50px;
                    }
                    
                    .blog-content .left-side {
                        width: 20%;
                    }
                    
                    .right-side h4 {
                        margin: 0 0 12px 30px;
                        color: #5f6676;
                        position: relative;
                    }
                    
                    .right-side h4::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: -8px;
                        width: 76%;
                        height: 1px;
                        background-color: #f1f1f1;
                    }
                    
                    .right-side h5::before {
                        position: absolute;
                        width: 76%;
                        height: 1px;
                        left: 0;
                        bottom: -145px;
                        background-color: #f1f1f1;
                        content: "";
                    }
                    
                    .right-side ul {
                        list-style: none;
                        margin-left: 25px;
                    }
                    
                    .right-side ul li {
                        margin-bottom: 20px;
                        color: #8a8a7a;
                        transition: 0.5s;
                        cursor: pointer;
                    }
                    
                    .right-side ul li:hover {
                        margin-left: 5px;
                    }
                    
                    .right-side ul li i {
                        margin: 1px 15px 0 0;
                        font-size: 12px;
                        color: #cd122d;
                    }
                    
                    .right-side ul hr {
                        width: 76%;
                        height: 1px;
                        border-top: 1px dashed #f1f1f1;
                        margin-bottom: 3px;
                    }
                    
                    .right-side h5 {
                        margin: 60px 0 0 25px;
                        color: #a09591;
                        position: relative;
                    }
                    
                    .right-side p {
                        margin: 10 73px 0 25px;
                        line-height: 1.4;
                        color: #b4aaa3;
                        font-size: 14px;
                    }
                    
                    .right-side h5::after {
                        position: absolute;
                        width: 76%;
                        height: 2px;
                        left: 0;
                        top: -20px;
                        background-color: #f1f1f1;
                        content: "";
                    }
                    
                    .right-side h5::before {
                        position: absolute;
                        width: 76%;
                        height: 1px;
                        left: 0;
                        bottom: -145px;
                        background-color: #f1f1f1;
                        content: "";
                    }
                    
                    .blog-content .right-side input {
                        margin: 0 0 25px 25px;
                        width: 280px;
                        height: 38px;
                        padding: 0 10px;
                        outline: none;
                        border: 1px solid #dcdcdc;
                        color: #dcdcdc;
                    }
                    
                    .blog-content .left-side {
                        width: 20%;
                    }
                    
                    .blog-content .left-side ul {
                        list-style: none;
                        padding: 0 40px;
                        color: #99999C;
                        font-size: 14px;
                    }
                    
                    .blog-content .left-side ul li {
                        margin-bottom: 10px;
                    }
                    
                    .blog-content .left-side ul li i {
                        margin-right: 10px;
                    }
                    
                    .blog-content .left-side ul:first-of-type {
                        margin-bottom: 400px;
                    }
                    
                    .line11 {
                        align-items: center;
                    }
                    
                    .containerh {
                        width: 80%;
                        margin: 0 auto;
                    }
                    
                    .heading .heady {
                        display: flex;
                        background-color: #ff7361;
                    }
                    
                    .heading .heady i {
                        padding: 10px 14px 14px;
                        background-color: #f9523c;
                        font-size: 12px;
                    }
                    
                    .heading .heady h4 {
                        margin-left: 10px;
                        padding: 10px 14px 3px;
                        color: #fff;
                    }
                    
                    .heading {
                        margin-top: 30px;
                    }
                    /*************About***************/
                    
                    .usercards {
                        display: flex;
                        align-items: center;
                    }
                    
                    .cardr {
                        width: 23%;
                        align-items: center;
                        margin: 60px 0px 80px 0px;
                        text-align: center;
                    }
                    
                    .cardr img {
                        width: 300px;
                        height: 250px
                    }
                    
                    .contcard {
                        display: flex;
                        justify-content: space-between;
                        margin-left: 150px;
                        margin-right: 150px;
                    }
                    
                    .cardr h3 {
                        color: #682c5d;
                    }
                    
                    .cardr h4 {
                        color: #8a3945;
                        margin: 10px 0 10px 0;
                    }
                    
                    .cardr p {
                        line-height: 1.2;
                        margin: 0 15px 15px;
                        color: #98aaa4;
                    }
                    /****************Work*******************/
                    
                    .wcard .cards {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin-top: 30px;
                        text-align: center;
                    }
                    
                    .wcard .cards .w1 {
                        width: 30%;
                        margin-bottom: 20px;
                    }
                    
                    .wcard .cards .w1 img {
                        width: 100%;
                        height: 250px;
                    }
                    
                    .wcard .cards .w1 h3 {
                        color: #9c9c9e;
                    }
                    
                    .wcard .cards .w1 h5 {
                        color: #b8b7b7;
                    }
                    
                    .wcard .cards .w1 p {
                        line-height: 1.2;
                        color: #959595;
                    }
                    /**************Features****************/
                    
                    .features-content {
                        display: flex;
                        padding-top: 50px;
                    }
                    
                    .plans {
                        display: flex;
                        width: 70%;
                        height: 400px;
                        margin: 0 100px 350px;
                        justify-content: space-between;
                    }
                    
                    .plans .plan {
                        border: 2px solid #eeeded;
                        text-align: center;
                        height: fit-content;
                        width: 30%;
                    }
                    
                    .plans .plan h3 {
                        font-size: 30px;
                        color: #595655;
                        margin-top: 20px;
                    }
                    
                    .plans .plan h2 {
                        color: #fe7765;
                        background-color: #f3f3f3;
                        margin-bottom: 15px;
                    }
                    
                    .plans .plan h2 span {
                        font-size: 50px;
                        margin-top: 20px;
                    }
                    
                    .plans .plan h4 {
                        margin-bottom: 30px;
                        font-weight: normal;
                        color: #58698e;
                        position: relative;
                    }
                    
                    .plans .plan h4:not(:last-of-type)::after {
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: -15px;
                        left: 0;
                        background-color: #e4e2e2;
                        content: "";
                    }
                    
                    .plans .plan a {
                        color: white;
                        background-color: #373b44;
                        padding: 6px 81px;
                        margin-top: 15px;
                        text-decoration: none;
                    }
                    
                    .right-side {
                        width: 25%;
                    }
                    /*************Contact*************/
                    
                    iframe {
                        width: 100%;
                        height: 300px;
                        border-top: 1px solid #133b76;
                        border-bottom: 1px solid #133b76;
                    }
                    
                    .contact {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 30px;
                        margin-left: 100px;
                        margin-right: 100px;
                    }
                    
                    .contact .t-left h4 {
                        color: #7f8493;
                        margin-bottom: 25px;
                        position: relative;
                    }
                    
                    .contact .t-left h4::after {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        bottom: -10px;
                        background-color: #e4e0e0;
                        content: "";
                    }
                    
                    .contact .t-left form {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .contact .t-left form input {
                        width: 220px;
                        height: 35px;
                        margin-bottom: 15px;
                        padding: 0 10px;
                        outline: none;
                        border: 1px solid #dedede;
                        border-radius: 6px;
                    }
                    
                    .contact .t-left form textarea {
                        width: 800px;
                        height: 200px;
                        margin-bottom: 15px;
                        padding: 10px 10px;
                        outline: none;
                        resize: none;
                        border: 1px solid #dedede;
                        border-radius: 10px;
                    }
                    /* .contact .t-left form a {
                        background-color: #020202;
                        color: white;
                        width: fit-content;
                        padding: 5px 10px;
                        border-radius: 6px;
                        cursor: pointer;
                    } */
                    
                    .subbtn {
                        background-color: #020202;
                        color: white;
                        width: fit-content;
                        padding: 5px 10px;
                        border-radius: 6px;
                        cursor: pointer;
                    }
                    
                    .contact .t-right h4 {
                        color: #7f8493;
                        margin-bottom: 25px;
                        position: relative;
                    }
                    
                    .contact .t-right h4::after {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        bottom: -10px;
                        background-color: #e4e0e0;
                        content: "";
                    }
                    
                    .contact .t-right h3 {
                        color: #716e75;
                        font-size: 14px;
                    }
                    
                    .contact .t-right p {
                        font-size: 14px;
                        color: #94948f;
                    }
                    
                    .contact .t-right p:first-of-type {
                        margin-bottom: 12px;
                    }